<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UKK2024_RayaDaffa_0004886217_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <UKK2024_RayaDaffa_0004886217_.My.MySettings>
            <setting name="konNamaServer" serializeAs="String">
                <value />
            </setting>
            <setting name="konNamaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="konKataSandi" serializeAs="String">
                <value />
            </setting>
            <setting name="konNamaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="konPortal" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="lgnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lgnNama" serializeAs="String">
                <value />
            </setting>
            <setting name="lgnAkses" serializeAs="String">
                <value />
            </setting>
            <setting name="Tema" serializeAs="String">
                <value>Visual Studio 2013 Blue</value>
            </setting>
            <setting name="LokasiLaporan" serializeAs="String">
                <value />
            </setting>
            <setting name="LokasiWallpaper" serializeAs="String">
                <value />
            </setting>
        </UKK2024_RayaDaffa_0004886217_.My.MySettings>
    </userSettings>
</configuration>